* {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.form {
    width: 270px;
}

.form-field {
    display: flex;
    flex-direction: column;
    margin: 0 0 30px 0;
}

.field {
    margin: 5px 0 0 0;
}


.output {
    height: 14px;
}

.output {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.button {
    width: 100%;
}
